name: autofix.ci
on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev
permissions: {}
jobs:
  gofmt:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run gofmt
        run: |
          gofmt -s -w .