name: autofix.ci
on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev
permissions: {}
jobs:
  prettier:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Run prettier format
        run: pnpm install && pnpm prettier . --write
      - uses: autofix-ci/action@v1
        with:
          commit-message: "Apply Prettier format"